Source: statsite
Maintainer: John Keates <john@keates.nl>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13),
               pkg-config,
               netcat,
               lsof,
               autoconf,
               automake,
               libtool

Package: statsite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C implementation of statsd
 Statsite collects stats and sends them to an upstream server.
